<head>
	<style>
		.teste {
			display: flex;
			flex-wrap: wrap;
		}
	</style>
</head>

<main>
	<section classe="teste">
		<div class="card" style="width: 18rem;">
			<img src="~/img/angra.jpg" class="card-img-top" alt="Angra dos Reis">
			<div class="card-body">
				<h5 class="card-title">Angra dos Reis</h5>
				<p class="card-text">R$ 1.550,00</p>
				<a href="#" class="btn btn-primary">Comprar</a>
			</div>
		</div>

		<div class="card" style="width: 18rem;">
			<img src="~/img/cancun.jpg" class="card-img-top" alt="Cancun">
			<div class="card-body">
				<h5 class="card-title">Cancun</h5>
				<p class="card-text">R$ 4.890,00</p>
				<a href="#" class="btn btn-primary">Comprar</a>
			</div>
		</div>

		<div class="card" style="width: 18rem;">
			<img src="~/img/cristo.jpg" class="card-img-top" alt="Cristo Redentor">
			<div class="card-body">
				<h5 class="card-title">Cristo Redentor</h5>
				<p class="card-text">R$ 890,00</p>
				<a href="#" class="btn btn-primary">Comprar</a>
			</div>
		</div>

		<div class="card" style="width: 18rem;">
			<img src="~/img/jalapao.jpg" class="card-img-top" alt="Jalapão">
			<div class="card-body">
				<h5 class="card-title">Jalapão</h5>
				<p class="card-text">R$ 3.640,00 </p>
				<a href="#" class="btn btn-primary">Comprar</a>
			</div>
		</div>

		<div class="card" style="width: 18rem;">
			<img src="~/img/noronha.jpg" class="card-img-top" alt="Fernando de Noronha">
			<div class="card-body">
				<h5 class="card-title">Fernando de Noronha</h5>
				<p class="card-text">R$ 4.000,00</p>
				<a href="#" class="btn btn-primary">Comprar</a>
			</div>
		</div>

		<div class="card" style="width: 18rem;">
			<img src="~/img/pelourinho.jpg" class="card-img-top" alt="Pelourinho">
			<div class="card-body">
				<h5 class="card-title">Pelourinho</h5>
				<p class="card-text">R$ 2.500,00</p>
				<a href="#" class="btn btn-primary">Comprar</a>
			</div>
		</div>
	</section>

</main>
